Flask==1.0.2
Flask-Bootstrap==3.3.7.1
gunicorn==19.9.0
h5py==2.9.0
Jinja2==2.10.1
Keras==2.2.4
numpy==1.16.2
termcolor==1.1.0
urllib3==1.24.2
Werkzeug==0.15.3
WTForms==2.2.1
tensorflow==2.0.0
streamlit==0.62.0
numpy==1.16.5
pillow==6.2.0
