<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">

<h2 align="middle"></h2>
<p align='middle'>{{result}}</p>
<h1 align = 'middle'>Visualization Graphs</h1>
<br>
<img src="/static/count of crop by soil type.png" height="500" width="600"></img>
<img src="/static/crops count on ph basis.png" height="500" width="600"></img>
<br><br>
<img src="/static/Crops on the basis of humidity.png" height="500" width="600"></img>
<img src="/static/moisture of soil for diff crops.png" height="500" width="600"></img>
<br><br>
<img src="/static/suitable temp for different crops.png" height="500" width="600"></img>




</body>
</html>